<div class="w3-conteiner w3-teal" style="padding-left: 16px">
  <p id="notice"><%= notice %></p>
  <h3>Тема: <%= @ttt.title %></h3>
</div>
<div class="w3-container">
  <p>
    <strong>Задача:</strong>
    <%= @ttt.theme %>
  </p>

  <p>
    <strong>Приоритет (1-5):</strong>
    <%= @ttt.priority %>
  </p>

  <p>
    <strong>Срок выполнения:</strong>
    <%= @ttt.term %>
  </p>

  <div class="w3-button w3-teal">
    <%= link_to 'Редактировать', edit_ttt_path(@ttt) %>
  </div>
  <div class="w3-button w3-teal">
    <%= link_to 'Назад', ttts_path %>
  </div>
</div>



